@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: hidden;

    width: 100%;
}
* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}
body {
  --bg: #f5f9ff;
  min-height: 100vh;
  font-family: "Mukta Malar", Arial;
  line-height: 22px;
  font-size: 16px;
  color: #adafb6;
  justify-content: center;
  transition: background 0.3s ease;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

  /* background: #4f4 */
  background: #fff;
  /* background: url(../img/background.jpg); */
  overflow-x: hidden;
  overflow-y: hidden;

    width: 100%;
}

/* 
html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  } */

div,
h1,
h2,
a.subject {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1.title {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: 500;
  overflow: visible;
  width: 0 (auto);
  text-align: center;
  color: #2b3044;
}

.title-center {
  top: 10px;
  height: 100%; /* matters */
  width: 420px;
  max-height: 420px; /* matters */
  display: grid; /* matters */
  overflow: hidden; /* matters */
  position: relative;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 47.4375em) {
  h1.title {
    line-height: 1;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }
}
