html,
body {
  height: 100%; /* matters for scrolling */
}

.subject-list-container {
  top: 10px;
  height: 100%; /* matters */
  width: 420px;
  max-height: 420px; /* matters */
  display: grid; /* matters */
  overflow: hidden; /* matters */
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.subject-list-grid {
  background-color: rgb(256, 256, 256, 0);
  display: grid; /* matters */
  overflow-y: auto; /* matters */
}

.subject-list-header {
  height: 42px;
  padding: 15px;
  background-color: #fff;
}

.subject-list-select {
  overflow-y: scroll; /* matters */
  padding: 15px;
}

.subject-list-select::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.subject-list-item {
  width: 100%;
  border-radius: 12px;
  padding: 34px;
  background-color: #fff;
  margin-bottom: 12px;
  color: #99a3ba;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 230;
  text-transform: uppercase;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  /* background-image: linear-gradient(to bottom right, rgb(85,102,204,1), rgb(51,85,187,1)); */
}
.subject-list-item h2 {
  font-size: 16px;
  font-weight: 200;
}

.selected {
  /* background-color: #e4ecfa; */
  background-image: linear-gradient(to right, #40e495, #30dd8a );
  color: #fff;
}

.subject-list-item:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
}


@media screen and (max-width: 47.4375em) {
  .subject-list-container {
    width: 100%;
    max-height: 60%; /* matters */
  }

}